body {
   font-family: Arial, sans-serif;
   margin: 10;
   padding: 10;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   background-color: orange;
}

.container {
   text-align: center;
}

.question-container {
   margin-bottom: 20px;
}

button {
   padding: 10px 20px;
   font-size: 20px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #0056b3;
}
